.carrito{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    height: 75px;
}

.circulo{
    border-radius: 70%;
    background-color: rgb(167, 167, 167);
    position: relative;
    top: 30px;
    left: 20px;    
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;    
}
