.parrafo {
    margin: 20px 20px 20px 20px;
    font-size: 20px;
    padding: 20px;
    background-color: rgba(143, 141, 141, 0.418);
    font-weight: 500;
    color: rgb(242, 242, 248);    
}

.control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;   
}

.fondo{
    background-color: rgb(185, 185, 184);
    /* margin: 0; */
}